body {
  width: 1366px;
  height: 768px;
  background-color: black;
  display: flex;
  justify-content: initial;
}

p {
  display: inner-flex;
  margin: auto 50px;
  font-size: 30px;
  color: white;
  border-radius: 40px;
  border: 10px solid lightblue;
  padding: 200px;
}
